<div>
    <div class="view-title">
        <h2>{{pageTitle}}</h2>
    </div>
    <div class="body-container">
        <div class="body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna
            aliqua. Amet volutpat consequat mauris nunc congue nisi. Sapien nec sagittis aliquam malesuada bibendum arcu
            vitae
            elementum curabitur. Ullamcorper dignissim cras tincidunt lobortis. Risus at ultrices mi tempus imperdiet
            nulla
            malesuada. Purus gravida quis blandit turpis cursus in hac habitasse. Proin nibh nisl condimentum id
            venenatis
            a.
            Bibendum at varius vel pharetra vel turpis nunc eget. At ultrices mi tempus imperdiet nulla malesuada
            pellentesque elit.
            Volutpat ac tincidunt vitae semper. Euismod nisi porta lorem mollis aliquam ut porttitor leo. In metus
            vulputate
            eu
            scelerisque. Cursus mattis molestie a iaculis. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus
            quam.
            Egestas dui id ornare arcu odio ut sem. Risus nullam eget felis eget.
        </div>
    </div>
</div>